.search-result {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.search-result:hover {
  color: #111;
  background-color: #efefef;
}

.imagenSearch {
  object-fit: contain;
  height: 70%;
  width: 50px;
  margin-right: 10px;
}
a {
  outline: none;
  text-decoration: none;
}

@media (max-width: 768px) {
  .search-result {
    padding: 15px;
  }

  .imagentSearch {
    width: 80px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .result-text {
    font-size: 0.9rem;
  }
}
