.container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    360deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.imagen {
  width: 80px;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
}

.inputWrapper {
  width: -10%;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: none;
  height: 100%;
  font-size: 15px;
  width: 100%;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: whitesmoke;
}

a {
  background: transparent;
}

@media (max-width: 768px) {
  .container {
    align-items: center;
  }

  .inputWrapper {
    width: 50%;
    margin-top: 0px;
  }

  .imagen {
    margin-bottom: 2px;
  }
}
